@model FlightWebApplication.Models.SearchFlightData
@{
    ViewBag.Title = "Search Flight Details";
}

<h2><b>@ViewBag.Title</b></h2>
<h3>@ViewBag.Message</h3>


<body> 
    <div class="Search">
        <select id="searchFlight" name="FlightDetails">
            <option>All Flight Details</option>
            <option>Flight Number</option>
            <option>Destination Name</option>
            <option>Lowest Flight Price</option>
        </select>
    </div>
   
    @using (Html.BeginForm("Find", "DisplayFlightDetails", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
     {
        <p>
            @Html.TextBox("SearchString")
            <input type="submit" value="Find" />
        </p>
     }


    @using (Html.BeginForm("SortPrice", "DisplayFlightDetails", new { @class = "btn btn-default" }, FormMethod.Post, new { @class = "form-           horizontal", role = "form" }))
     {
        <p>
            <input type="submit" value="Sort Price" />
        </p>
     }

    @using (Html.BeginForm("Menu", "Home", new { @class = "btn btn-default" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
     {
        <p>
            <input type="submit" value="BackToMenu" />
        </p>
     }

</body>

<style>

    th {
        background-color: cadetblue;
    }

    tr {
        background-color: darkgray;
    }

    .Search {
        display: inline;
        width: 20%;
    }  

</style>


    