@{
    ViewBag.Title = "Contact";
}

    <h2><b>@ViewBag.Title</b></h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One FlightWebApplication Way<br />
        IT Nepal, Kathmandu 998003<br />
        <abbr title="Mobile No.">Mobile No.:</abbr>
        9814883836
    </address>

    <address>
        <strong>Support :</strong>   <a href="mailto:info.ranjan18@gmail.com">info.ranjan18@gmail.com</a><br />
        <strong>Marketing :</strong> <a href="mailto:info.ranjan18@gmail.com">info.ranjan18@gmail.com</a>
    </address>

<style>
    a 
    {
        color: #0e0e0e;
        text-decoration: none;
    }
</style>
