@{
    ViewBag.Title = "Home Page";
    
}



<div class="jumbotron" style="background-color:#3f8ad8; padding-bottom:5px;padding-top:5px;">
    

        <h1 align="center"><b>FLIGHT WEB APPLICATION</b></h1 >
        <!-- --
        <p class="lead" > Flight Services.</p >

        <p > <a href="https://asp.net" class="btn btn-primary btn-lg" > Learn more &raquo;</a > </p >
        -->
    

</div>


<!--
<div align="center" style="background-color: transparent; background-image: url(E:\Raushan\AllMySampleProjects\FlightWeb\FlightWebApplication\FlightWebApplication\flightimage.jpg);">
</div>
-->



<!----
<div class="row">

        <div class="col-md-4">
         <h2>Getting started</h2>
         <p>
             ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
             enables a clean separation of concerns and gives you full control over markup
             for enjoyable, agile development.
         </p>
         <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
     </div>
     <div class="col-md-4">
         <h2>Get more libraries</h2>
         <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
         <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
     </div>
     <div class="col-md-4">
         <h2>Web Hosting</h2>
         <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
         <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
     </div>

<style type="text/css">
    body {
        background-image: url(Flightpic.jpg);
    }
</style>
</div>
 -->
